.industry-content .title-text {
	max-width: 50%;
	margin: 0 auto 0 auto;
	text-align: center;
	font-size: 1.75em;
	line-height: 1.2857;
	font-weight: 700;
	font-family: "SamsungOne700";
}

.industry-content .icon-text-portion {
	display: block;
	max-width: 70%;
	margin: 0 auto 0 auto;
}

.industry-content .icon-text-portion .icon {
	margin-right: 15px;
	display: inline-block;
}

.industry-content .icon-text-portion .icon .img {
	display: inline-block;
	max-height: 65px;
	max-width: 65px;
}

.industry-content .icon-text-portion .body-text {
	display: inline-block;
	max-width: 70%;
	padding: 0 auto 0 auto;
	text-align: left;
	font-size: 1em;
	line-height: 1.75;
	font-weight: 400;
	font-family: "SamsungOne400";
}